.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgb(173, 173, 173);
    

}

.logo{
    color: rgb(39, 36, 36);
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

h1>.icon{
    font-size: 25px;
    color: hsl(199,100%,33%);
}

@media screen and (max-width:768px)
{
    .navbar{
        position: absolute;
        background-color:rgb(236, 236, 236) ;
        height: max-content;
        width: 80%;
        padding: 1rem;
        border-radius: 1rem;
        top: -500rem;
        /* left: 50%; */
        /* transform:translate(-50%); */
        z-index: 2000;
        box-shadow: 0 2px 4px rgb(173, 173, 173);
        /* transition: 0.3s ease-in-out; */
    }

    .navlist{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 0.5rem ;
    }

    .navitem{
        padding: 0.5rem;
    }
    
    .navlink{
        color: rgb(69, 69, 69);
        font-size: 0.9rem;
        font-weight: 600;
    }

    .navlink:hover{
        color: hsl(187,85%,43%);
    }

    .btn{
        margin-top:1rem;
    }

    .activenavbar{
        top: 7rem;
    }
    
    /* .btn>a{
        color: white;
        font-weight: 1000;
    } */

    .closenavbar{
        position: absolute;
        top: .5rem;
        /* color: aquamarine; */
    }
}


@media screen and (min-width: 769px){
    .togglenavbar,.closenavbar{
        display: none;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    .navlist{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

    }

    .navlink{
        padding: 0 0.5rem;
        font: 0.9rem;
        font-weight: 500;
        color: rgb(93, 92, 92);
    }

    .navlink:hover{
        color: hsl(199,100%,33%);
    }
    
}

.togglenavbar>.icon{
    font-size: 25px;
    color:hsl(199,100%,33%);
}